/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #0f4d90;
    font-family: Arial;
    width: 100%;
  }
  
/* Titles inside the navbar */
.navbar p {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 0;
}

/* Links inside the navbar */
.navbar > a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar > a:visited {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 16px;
    background-color: inherit;
    font-family: arial; /* Important for vertical align on mobile phones */
    text-transform: capitalize;
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a black background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #333;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:visited {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub menu stuff */
.sub-dropdown {
    float: none;
    color: black;
    background-color: #f9f9f9;
 	padding: 0;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
}

.sub-dropbtn {
	font-size: 14px;
	font-family: Arial;
    float: none;
    color: black;
    background-color: transparent;
    padding: 12px 16px;
    text-transform: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-dropdown:hover {
    background-color: #ddd;
}

.sub-dropbtn:hover {
    background-color: #ddd;
    color: black;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-dropdown-content a:visited {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.sub-dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the sub dropdown menu on hover */
.sub-dropdown:hover .sub-dropdown-content {
    display: block;
	position: absolute;
    right: 100%;
	top: 0;
}